{"b1cs1": null, "b1p1s1": null, "b1p2s1": null, "b1p3s1": null, "b1cs2": "player1", "b1p1s2": null, "b1p2s2": null, "b1p3s2": null, "b1cs3": null, "b1p1s3": "player1", "b1p2s3": null, "b1p3s3": null, "b2cs1": null, "b2p1s1": "player2", "b2p2s1": null, "b2p3s1": "player2", "b2cs2": null, "b2p1s2": null, "b2p2s2": "player2", "b2p3s2": null, "b2cs3": null, "b2p1s3": "player2", "b2p2s3": null, "b2p3s3": null, "b3cs1": null, "b3p1s1": null, "b3p2s1": "player2", "b3p3s1": null, "b3cs2": null, "b3p1s2": null, "b3p2s2": null, "b3p3s2": null, "b3cs3": null, "b3p1s3": null, "b3p2s3": null, "b3p3s3": "player2"}